<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-main>
          <v-tabs
            value="tab"
            :background-color="state"
            :color="state"
            fixed-tabs
            @change="onTabChange"
          >
            <v-tab>
              <v-icon class="mr-2">mdi-arrow-down</v-icon>
              Entrada
            </v-tab>
            <v-tab>
              <v-icon class="mr-2">mdi-arrow-up</v-icon>
              Saída
            </v-tab>
            <v-tab-item class="pt-8">
              <v-container>
                <v-form ref="incomeForm">
                  <v-text-field
                    color="success"
                    v-model="value"
                    label="Valor"
                    :rules="valueRules"
                    @change="onValueChange"
                    append-icon="mdi-currency-usd"
                    outlined
                    required
                  >
                  </v-text-field>
                  <v-combobox
                    color="success"
                    v-model="inDescription"
                    label="Descrição / Item"
                    :items="descriptions"
                    :rules="notEmpty"
                    :loading="isDescriptionLoading"
                    outlined
                    required
                  >
                    <template v-slot:selection="data">
                      <span>{{data.item}}</span>
                    </template>
                  </v-combobox>

                  <v-select
                    color="success"
                    v-model="paymentMethod"
                    :items="paymentMethods"
                    :rules="[v => !!v || 'Escolha um método de pagamento']"
                    label="Método de pagamento"
                    outlined
                    required
                  >
                    <template slot="item" slot-scope="data">
                      <v-icon class="mr-4">{{data.item.icon}}</v-icon>
                      <span class="cb-item">{{data.item.text}}</span>
                    </template>
                    <template v-slot:append>
                      <v-icon
                        >{{paymentMethod ? paymentMethodIcon :
                        'mdi-chevron-down'}}</v-icon
                      >
                    </template>
                  </v-select>

                  <v-btn
                    color="success"
                    class="mr-4 mt-4"
                    @click="saveIncome"
                    :loading="isLoading"
                    block
                    x-large
                  >
                    Salvar Entrada
                  </v-btn>
                </v-form>
              </v-container>
            </v-tab-item>

            <!-- OUT -->

            <v-tab-item class="pt-8">
              <v-container>
                <v-form ref="outcomeForm">
                  <v-text-field
                    color="secondary"
                    v-model="value"
                    label="Valor"
                    :rules="valueRules"
                    @change="onValueChange"
                    append-icon="mdi-currency-usd"
                    outlined
                    required
                  >
                  </v-text-field>
                  <v-text-field
                    color="secondary"
                    v-model="outDescription"
                    label="Descrição"
                    :rules="notEmpty"
                    append-icon="mdi-text"
                    outlined
                    required
                  >
                  </v-text-field>
                  <v-select
                    color="secondary"
                    v-model="paymentMethod"
                    :items="paymentMethods"
                    :rules="[v => !!v || 'Escolha um método de pagamento']"
                    label="Método de pagamento"
                    outlined
                    required
                  >
                    <template slot="item" slot-scope="data">
                      <v-icon class="mr-4">{{data.item.icon}}</v-icon>
                      <span class="cb-item">{{data.item.text}}</span>
                    </template>
                    <template v-slot:append>
                      <v-icon
                        >{{paymentMethod ? paymentMethodIcon :
                        'mdi-chevron-down'}}</v-icon
                      >
                    </template>
                  </v-select>

                  <v-btn
                    color="secondary"
                    class="mr-4 mt-4"
                    @click="saveOutgoing"
                    :loading="isLoading"
                    block
                    x-large
                  >
                    Salvar Saída
                  </v-btn>
                </v-form>
              </v-container>
            </v-tab-item>
          </v-tabs>
        </v-main>
      </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
      new Vue({
        el: '#app',
        vuetify: new Vuetify({
          theme: {
            dark: false,
            themes: {
              light: {
                secondary: 'FF5252',
                error: '#e06e26',
              },
            },
          },
        }),
        created() {
          //this.getDescriptionItems()
        },
        data: () => ({
          value: '0,00',
          valueAux: '0,00',
          paymentMethod: '',
          inDescription: '',
          outDescription: '',
          isLoading: false,
          isDescriptionLoading: true,
          descriptions: [],
          paymentMethods: [
            {
              icon: 'mdi-currency-usd',
              text: 'Dinheiro',
            },
            {
              icon: 'mdi-credit-card-outline',
              text: 'Cartão',
            },
            {
              icon: 'mdi-swap-horizontal',
              text: 'Transferência',
            },
          ],
          state: 'success',
          darkTheme: false,
          notEmpty: [(v) => !!v || 'Dê uma descrição para a transação'],
          valueRules: [
            (v) => {
              const str = v.toString()
              const value = str
                .replace(/./g, (c) => (c == '.' ? '' : c))
                .replace(',', '.')

              return !isNaN(value) || 'Insira um valor válido'
            },
            (v) => v !== '0,00' || 'Valor não pode ser 0,00',
          ],
        }),
        methods: {
          getDescriptionItems() {
            function onItemsReceived(items) {
              this.descriptions = items.map((item) => item.join(' - '))

              this.isDescriptionLoading = false
            }

            this.isDescriptionLoading = true

            google.script.run
              .withSuccessHandler(onItemsReceived.bind(this))
              .getItens()
          },
          currencyToFloat(value) {
            return value
              .toString()
              .replace(/./g, (v) => (v == '.' ? '' : v))
              .replace(',', '.')
          },
          toCurrency(value) {
            const formatter = Intl.NumberFormat('pt-BR', {
              maximumFractionDigits: 2,
              minimumFractionDigits: 2,
            })

            const aux = this.currencyToFloat(value)

            return isNaN(aux) ? null : formatter.format(aux)
          },
          onValueChange(v) {
            const value = this.toCurrency(v)

            this.$nextTick(() => {
              if (value === null) {
                this.value = this.valueAux
              } else {
                this.value = value
                this.valueAux = value
              }
            })
          },
          onTabChange(i) {
            this.resetValidation()
            this.state = i === 0 ? 'success' : 'secondary'
          },
          onAddRowSuccess() {
            this.isLoading = false
            this.resetFields()
          },
          saveIncome() {
            const isValid = this.$refs.incomeForm.validate()

            if (!isValid) {
              return
            }

            this.isLoading = true

            const date = Intl.DateTimeFormat('pt-BR').format(new Date())
            const value = this.currencyToFloat(this.value)
            const description = this.inDescription
            const paymentMethod = this.paymentMethod

            google.script.run
              .withSuccessHandler(this.onAddRowSuccess)
              .addRow([date, 'Entrada', value, description, paymentMethod])
          },
          saveOutgoing() {
            const isValid = this.$refs.outcomeForm.validate()

            if (!isValid) {
              return
            }

            this.isLoading = true

            const date = Intl.DateTimeFormat('pt-BR').format(new Date())
            const value = this.currencyToFloat(this.value)
            const description = this.outDescription
            const paymentMethod = this.paymentMethod

            google.script.run
              .withSuccessHandler(this.onAddRowSuccess)
              .addRow([date, 'Saida', value, description, paymentMethod])
          },
          resetFields() {
            this.isLoading = false
            this.value = '0,00'
            this.paymentMethod = ''
            this.inDescription = ''
            this.outDescription = ''
            this.resetValidation()
          },
          resetValidation() {
            if (this.$refs.incomeForm) {
              this.$refs.incomeForm.resetValidation()
            }

            if (this.$refs.outcomeForm) {
              this.$refs.outcomeForm.resetValidation()
            }
          },
        },
        computed: {
          paymentMethodIcon() {
            return this.paymentMethods.find(
              (pm) => pm.text === this.paymentMethod
            ).icon
          },
        },
      })
    </script>
  </body>
</html>
