<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-main>
          <v-app-bar color="primary" dark>
            <v-toolbar-title>Adicionar Peças</v-toolbar-title>
          </v-app-bar>
          <v-container>
            <v-form ref="partsForm" class="mt-4">
              <v-text-field
                v-model="part"
                label="Peça"
                :rules="[(v) => !!v || 'Insira a peça']"
                append-icon="mdi-cog"
                outlined
                required
              >
              </v-text-field>
              <v-text-field
                v-model="brand"
                label="Marca"
                :rules="[(v) => !!v || 'Insira o nome da marca']"
                append-icon="mdi-text"
                outlined
                required
              >
              </v-text-field>
              <v-text-field
                v-model="vehicle"
                label="Veículo"
                :rules="[(v) => !!v || 'Insira o nome do veículo']"
                append-icon="mdi-car-sports"
                outlined
                required
              >
              </v-text-field>

              <v-btn
                color="primary"
                class="mr-4 mt-4"
                @click="savePart"
                :loading="isLoading"
                block
                x-large
              >
                Salvar Peça
              </v-btn>
            </v-form>
          </v-container>
        </v-main>
      </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
      new Vue({
        el: '#app',
        vuetify: new Vuetify({
          theme: {
            dark: false,
            themes: {
              light: {
                secondary: 'FF5252',
                error: '#e06e26',
              },
            },
          },
        }),
        data: () => ({
          part: '',
          brand: '',
          vehicle: '',
          isLoading: false,
        }),
        methods: {
          onAddRowSuccess() {
            this.isLoading = false
            this.resetFields()
          },
          savePart() {
            const isValid = this.$refs.partsForm.validate()

            if (!isValid) {
              return
            }

            this.isLoading = true

            google.script.run.withSuccessHandler(this.onAddRowSuccess).addRow({
              values: [this.part, this.brand, this.vehicle],
              sheet: 'Itens',
            })
          },
          resetFields() {
            this.isLoading = false
            this.part = ''
            this.brand = ''
            this.vehicle = ''
            this.resetValidation()
          },
          resetValidation() {
            if (this.$refs.partsForm) {
              this.$refs.partsForm.resetValidation()
            }
          },
        },
      })
    </script>
  </body>
</html>
